{% extends 'TellerAccountBundle::dashboard.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Report</h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="country">Country</label>
                                    <input id="country" class="form-control"  name="country" type="text" placeholder="Country">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="currency">Currency Code</label>
                                <input name="currency" type="text" class="form-control" id="currency" placeholder="Currency">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="symbol">Symbol</label>
                                <input name="symbol" type="text" class="form-control" id="symbol" placeholder="Symbol">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">Add</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}