{% extends 'TellerAccountBundle::dashboard.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Transaction</h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Received</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="amount">Total Amount</label>
                                <input type="text" class="form-control" id="amount"
                                       placeholder="Amount">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="currency">Currency</label>
                                <input type="text" class="form-control" id="currency"
                                       placeholder="Currency">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Send</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sendcurrency">Currency</label>
                                <input type="text" class="form-control" id="sendcurrency"
                                       placeholder="Currency">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate">Rate</label>
                                <input type="email" class="form-control" id="rate"
                                       placeholder="Rate">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="totalamount">Total Amount To Send</label>
                                <input type="text" class="form-control" id="totalamount"
                                       placeholder="Total Amount">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="detail">Detail</label>
                                <textarea name="details" id="detail" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">Send Amount</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}