{% extends 'TellerAccountBundle::dashboard.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Transaction</h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form action="{{ app.request.getBaseURL() }}/dashboard/add" method="POST" name="addTransfer">
                    <div class="row">

                        <div class="col-sm-12">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                {% if flashMessage is defined  %}
                                    <div class="alert alert-info">
                                       {{ flashMessage }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <label>Received</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="amount">Total Amount</label>
                                <input required="required" name="amount" type="number" class="form-control" id="amount"
                                       placeholder="Amount">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="currency">Currency</label>
                                <input required="required" type="text" name="currency" class="form-control" id="currency"
                                       placeholder="Currency">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Send</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send_currency">Currency</label>
                                <input required="required" name="send_currency" type="text" class="form-control" id="send_currency"
                                       placeholder="Currency">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate">Rate</label>
                                <input required="required" name="rate" type="number" class="form-control" id="rate"
                                       placeholder="Rate">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="totalamount">Total Amount To Send</label>
                                <input required="required" name="totalamount" type="number" class="form-control" id="totalamount"
                                       placeholder="Total Amount">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="detail">Detail</label>
                                <textarea required="required" name="details" id="detail" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right">Send Amount</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}